<!DOCTYPE html>
<html>
   <head>
      <title>{{chapter.number}}: {{chapter.name}}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   </head>
   {%spaceless%}   
   <body class="{{themecolor}} lighten-4">
      <div class="container">
         <div class="card-panel {{themecolor}} lighten-5">
            <div class="container">
               <h1 class="header {{themecolor}}-text" style="text-align:center;font-weight:500;">{{chapter.book}} {%if 'LBP' in chapter.book.book_name%}Quiz{% else %}Chapter{%endif%} {{chapter.number}}</h1>
               <h4 class="header {{themecolor}}-text text-lighten-2" style="text-align:center;font-weight:500;">{{chapter.name}}</h4>
               <table class="highlight">
               <div align="center">
                  <a class="waves-effect btn-large tooltipped {{themecolor}}" href="{%if usb%}{%url 'vocab_lists_show' 'showusersubmit' %}{%else%}{%url 'vocab_lists' %}{%endif%}" data-position="top" data-delay="20" data-tooltip="Back"><i class="material-icons">navigate_before</i></a><span>&nbsp;</span>
                  <a class='dropdown-button btn-large {{themecolor}}' href='#' data-activates='order_selection'><i class="material-icons right">toc</i>{% if order == 'original'%}Org{%elif order == 'alphabetical'%}Alp{%endif%}</a>
                     <ul id='order_selection' class='dropdown-content'>
                        <li ><span style="font-size: 1rem" class="{{themecolor}}-text">Order Selection</span></li>
                        <li class="divider"></li>
                        {%if usb %}
                        <li class="{{themecolor}}-text {% if order == 'original'%} active {%endif%} waves-effect"><a href="{% url 'n_single_vocab_list_usb' 'usb' chapter.id %}" class="{{themecolor}}-text" >Original Order</a></li>
                        <li class="{{themecolor}}-text {% if order == 'alphabetical' %} active {%endif%} waves-effect"><a href="{% url 'a_single_vocab_list_usb' 'usb' chapter.id 'alphabetical'%}" class="{{themecolor}}-text">Alphabetical Order</a></li>
                        {%else%}
                        <li class="{{themecolor}}-text {% if order == 'original'%} active {%endif%} waves-effect"><a href="{% url 'n_single_vocab_list' chapter.id %}" class="{{themecolor}}-text" >Original Order</a></li>
                        <li class="{{themecolor}}-text {% if order == 'alphabetical' %} active {%endif%} waves-effect"><a href="{% url 'a_single_vocab_list' chapter.id 'alphabetical'%}" class="{{themecolor}}-text">Alphabetical Order</a></li>
                        {%endif%}
                     </ul>
               </div>
                  <thead>
                     <tr>
                        <th><h3 style="font-weight: 400">Vocabs</h3></th>
                     </tr>
                  </thead>
                  <tbody>
                  {% for vocab in vocabs %}
                     {% if '**' in vocab %}
                     <tr>
                        <td><h5 class="remove_stars" style="font-weight: 600">{{ vocab }}</h5></td>
                     </tr>
                     {% else %}
                     <tr>
                        <td>{{ vocab }}</td>
                     </tr>
                     {%endif%}
                  {% endfor %}
                  </tbody>
               </table>
               <div class="divider"></div>
               <footer>
               <ul class="pagination" align="center">   
               {%if usb%}
                     <li class="{% if order == 'original'%} active {%endif%} waves-effect"><a href="{% url 'n_single_vocab_list_usb' 'usb' chapter.id %}">Original Order</a></li>
                     <li class="{% if order == 'alphabetical' %} active {%endif%} waves-effect"><a href="{% url 'a_single_vocab_list_usb' 'usb' chapter.id 'alphabetical'%}">Alphabetical Order</a></li>
               {%else%}
                     <li class="{% if order == 'original'%} active {%endif%} waves-effect"><a href="{% url 'n_single_vocab_list' chapter.id %}">Original Order</a></li>
                     <li class="{% if order == 'alphabetical' %} active {%endif%} waves-effect"><a href="{% url 'a_single_vocab_list' chapter.id 'alphabetical'%}">Alphabetical Order</a></li>
               {%endif%}
                  </ul>
                  <a class="{{themecolor}} waves-effect btn-large tooltipped" href="{%if usb%}{%url 'vocab_lists_show' 'showusersubmit' %}{%else%}{%url 'vocab_lists' %}{%endif%}" data-position="bottom" data-delay="20" data-tooltip="Back"><i class="material-icons">navigate_before</i></a><span>&nbsp;</span>
                  <a href="{%if usb%}{%url 'vocab_edit' chapter.id%}{%else%}/admin/vocab/chapter/{{chapter.id}}/change/{%endif%}" class="{{themecolor}} waves-effect waves-light btn-large tooltipped" data-position="bottom" data-delay="20" data-tooltip="Edit"><i class="material-icons">create</i></a>
               </footer>
            </div>
         </div>
         <h6 align="right">built by <a href="https://github.com/RubMing">Rub</a></h6>
      </div>
   </body>
   {%endspaceless%}
   <script type="text/javascript">$(
   function() {
         var stars = $(".remove_stars");
         for (i = 0; i < stars.length; i++) {
            var elementToChange = $(".remove_stars").eq(i)
            elementToChange.text(  elementToChange.text().replace(/\*/g,"")  )
         }
         })</script>
</html>